BasedOnStyle: LLVM
Language: Cpp
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
NamespaceIndentation: All
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
